<p id="notice"><%= notice %></p>

<%= search_form_for @q, url: search_books_path do |f| %>
  <div class="form-group">
    <%= f.label 'Title' %>
    <%= f.text_field :title_cont, :class=>"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label 'Genre' %>
    <%= f.collection_select :genre_id_eq, Genre.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.submit "Search", :class => "btn btn-default" %>
  </div>
<% end %>

<h1>Listing Books</h1>
<%= paginate @books %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cover</th>
      <th><%= sort_link(@q, :title, 'Sort by title') %></th>
      <th>Genre</th>
      <th>Publication year</th>
      <th>Page count</th>
      <th><%= sort_link(@q, :price, 'Sort by price') %></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.cover %></td>
        <td><%= book.title %></td>
        <td><%= book.genre.name %></td>
        <td><%= book.publication_year %></td>
        <td><%= book.page_count %></td>
        <td><%= book.price %></td>
        <td><%= link_to raw(icon(:search)), book, title: 'Show' %></td>
        <td><%= button_to 'Add to Cart', add_to_cart_books_path(book_id: book.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
