<p id="notice"><%= notice %></p>

<h1><%= @book.title %></h1>
<div class="container">
<p>
  <%= image_tag @book.cover.url(:medium), :style => "float :left; margin-right: 20px" %>
</p>

<p>
  <strong>Authors:</strong>
  
  <ul>
    <% @book.authors.each do |author| %>
      <li><%= "#{author.last_name} #{author.first_name}" %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre.name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher.name %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @book.publication_year %>
</p>

<p>
  <strong>Page count:</strong>
  <%= @book.page_count %>
</p>

<p>
  <strong>Storages:</strong>
  
  <ul>
    <% @book.book_storages.each do |bs| %>
      <li><%= "#{bs.storage.name}: #{bs.amount}" %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p><%= button_to 'Add to Cart', add_to_cart_books_path(book_id: @book.id) %></p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>

<% genre = Book.where(genre: @book.genre).where('id not in (?)', @book.id)%>

<div class="container">
  <div class="container">
    <h2>Other books in this category</h2>
  </div>
  
  <div class="row">
    <%= render genre %>
  </div>
</div> 
