<p id="notice"><%= notice %></p>

<p>
  <strong>Cover:</strong>
  <%= image_tag @book.cover.url(:small) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Authors:</strong>
  
  <ul>
    <% @book.authors.each do |author| %>
      <li><%= "#{author.last_name} #{author.first_name}" %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre.try(:name) %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher.try(:name) %>
</p>

<p>
  <strong>Publication year:</strong>
  <%= @book.publication_year %>
</p>

<p>
  <strong>Page count:</strong>
  <%= @book.page_count %>
</p>

<p>
  <strong>Storages:</strong>
  
  <ul>
    <% @book.book_storages.each do |bs| %>
      <li><%= "#{bs.storage.name}: #{bs.amount}" %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
